@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0;
  padding: 0;

}

body{
  background-color: black;
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-track {
  background: #111111;
}

::-webkit-scrollbar-thumb {
  background: #E0E0E0;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}



::selection {
  color: white;
  background: grey;
}

.nav_list{
  /* background-color: aliceblue; */
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  font-size:1.1rem;

}

.navbar{
  position: fixed;
  -webkit-backdrop-filter: blur(0.8rem);
  backdrop-filter: blur(0.8rem);
  /* height: 10%; */
  /* background-color: aqua  ; */
}


.nav{
  width: 90%;
}

.header{
  padding-top: 8rem;
  height: 100vh;
  gap:3.5rem;
}

.video-editor-heading{
  color: #E0E0E0;
  letter-spacing: 0.4rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  
}

.container{
  position: relative;
  /* background-color: #db0018; */
}

.video-editor-name{
  color: white;
  padding-bottom: 5rem;
  font-weight: bold;
  
}

.video-editor-demo{
  color: white;
  position: absolute;
  font-weight: 600;
  cursor: pointer;
  color: rgb(197, 197, 197);
  z-index: 0;
  
}

.circle{
  padding: 4rem 4rem;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  width: max-content;
  border: 0.2rem dashed #E0E0E0;
  overflow: hidden;
  position: relative;
  transition:1s;
}

.circle:hover{
  transition:1s;
	animation: mymove 20s infinite;
}

@keyframes mymove {
  100% {transform: rotate(1800deg);}
}

.about{
  background-color: #111111;
  height: 100vh;
  gap:8rem;
  
}

.about_me{
  color: #E0E0E0;
  padding-top: 14rem;
}
.editor{
  color: #575757;
  /* font-weight: 700; */
  letter-spacing: 0.2rem;
  font-family: 'Montserrat', sans-serif;
}

.about_editor{
  color: #5f5f5f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding-top: 3rem;
  line-height: 2.5rem;

}

.exp{
  color: #5f5f5f;
  letter-spacing: 0.1rem;
  /* letter-spacing: 0.2rem; */
  font-family: 'Montserrat', sans-serif;
  
}

.ten{
  color: #E0E0E0;
  font-size: 12rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.years{
  color: #5f5f5f;
  letter-spacing: 0.1rem;
  /* letter-spacing: 0.2rem; */
  font-family: 'Montserrat', sans-serif;
}

.work{
  background-color: #111111;
  height: max-content;
}

.work_head{
  padding-top: 16rem;
}

.render{
  color: #db0018;
}

.box{
  border-color: #3b3b3b;
  
}
.boxes{
  padding-top: 4rem;
  display: flex;  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.over_text:hover{
  opacity: 1;
}

.over_text{
  position: absolute;
  opacity: 0;
  transition:1s;
  /* background-color: #db0018; */
  padding:12rem 18rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.overlay{
  position: relative;
}

.images:hover{
  cursor: pointer;
  opacity: 0.2;
}
.images{
  transition: 1s ;
  
}
.work_sub{
  color: #5f5f5f;
  font-family: 'Montserrat', sans-serif;
}



.title{
  color: #E0E0E0;
  
}


.work_btn{
  color: #E0E0E0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  
  border: 0.2rem solid #FFF;
  transition: 0.2s;
}

.work_btn:hover{
  background-color: #E0E0E0;
  color:#3b3b3b ;
}

.btn{
  padding-top: 5rem;
}


.why{
  background-color: #000000;
  height: 100vh;
} 


.contact{
  background-color: #111111;
  height: 80vh;
}

.new_bg{
  background-color: #111111;
  width: 100%;
}

.num{
  color: #E0E0E0;
  font-weight: 700;
  font-size: 9rem;
  font-family: 'Montserrat', sans-serif;
}

.contact_head{
  color: #E0E0E0;
  font-weight: bold;
  font-size: 1rem;
  
}

.para{
  width: 60%;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  color: #575757;
}

.new_btn{
  background-color: #111111;
  width: 100%;
}



.playlist{
  /* background-color: #db0018; */
  height: 20rem;
  color: #db0018;
  
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.playlist_btns{
  width: 100%;
  justify-content: center;
  padding-top: 10rem;
  align-items: center;
  /* background-color: #db0018; */
}

.playlist_btn{
  color: #E0E0E0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  width: max-content;
  /* background-color: azure; */
  
  border: 0.2rem solid #FFF;
  transition: 0.2s;
}

.playlist_btn:hover{
  background-color: #E0E0E0;
  color:#3b3b3b ;
}



@media (max-width: 780px) {
  html {
    font-size: 50%;
  }
  .nav_list{
 
    display: none;
  }
  .video-editor-name{
    font-size: 5.5rem;
  }
  .video-editor-demo{
    font-size: 2rem;
  }
  .circle{
    padding: 6rem 6rem;
  }
  .container{
    top: 8rem;
  }
  .about_editor{
    font-size: 1.3rem;
  }
  .contact_row{
    flex-direction: column;
    font-size: 31rem;
  }
  .para{
    font-size: 1.4rem;
  }
  .contact_head{
    font-size: 1.5rem;
  }
  .editor{
    font-size: 1.2rem;
  }
}


@media (max-width:1220px) {
  html{
    font-size: 60%;
  }
}


@media (max-width: 550px) {
  .video-editor-name{
    /* padding-left: 5rem; */
    font-size: 9rem;
    text-align: center;
  }
  .long{
    font-size: 3rem;
    padding-top: 5rem;
  }
}